<%= stylesheet_link_tag "message" %>

<div class="col-lg-3">
  <%= render partial: "shared/sidemenu" %>
</div>

<div class="col-lg-9">
  <% if !notice.blank? %>
    <div class="alert alert-danger"><p id="notice"><%= notice %></p> </div>
  <% end %>

  <div class="row">
    <div class="col-lg-1"><label style="margin-left: 20px !important;"><font size=6 color="#00bfee">Messages</font></label></div>
    <div class="col-lg-1 col-lg-offset-8"><%= link_to '<img src="/images/message.png" width="20px"> New Message'.html_safe, new_message_path, class: "btn btn-info my-btn-index" %></div>
  </div>

  <div class="row" style="margin-left: 5px; margin-right: 5px; margin-top: 3px;">
      <div class="panel panel-default">
        <% @messages.each do |message| %>
        <div class="panel-body">
          <% if message.created_at.min < 9 %>
            <div class="col-lg-1"><%= message.created_at.hour.to_s %>:0<%= message.created_at.min.to_s %></div>
          <% else %>
            <div class="col-lg-1"><%= message.created_at.hour.to_s %>:<%= message.created_at.min.to_s %></div>
          <% end %>
          <%= link_to message.subject, message, class: 'col-lg-3' %>
          <div class="col-lg-3"><%= message.from_user.name %> <%= message.from_user.surname %></div>
        </div>
        <% end %>
      </div>
  </div>

</div>