<%= stylesheet_link_tag "message" %>

<div class="col-lg-3">
  <%= render partial: "shared/sidemenu" %>
</div>

<div class="col-lg-9">
  <p id="notice"><%= notice %></p>

  <label style="margin-left: 20px !important;"><font size=6 color="#00bfee">Message</font></label>
  <div style="background: #ffffff; border-radius: 20px; padding: 15px; margin-left: 20px; margin-right: 30px; ">
    <div class="row message-rows">
      <div class="col-lg-2"><label style="margin-left: 20px !important;"><font size=4 color="#55b2f4">From</font></label></div>
      <div class="col-lg-9">@<%= @message.from_user.nick %></div>
    </div>
    <div class="row message-rows">
      <div class="col-lg-2"><label style="margin-left: 20px !important;"><font size=4 color="#55b2f4">Subject</font></label></div>
      <div class="col-lg-9"><%= @message.subject %></div>
    </div>
    <div class="row message-rows">
      <div class="col-lg-2"><label style="margin-left: 20px !important;"><font size=4 color="#55b2f4">Message</font></label></div>
      <div class="col-lg-9"><%= @message.text %></div>
    </div>
  </div>
  <%= link_to 'Back', messages_path, class: "btn btn-info col-lg-offset-8 btn-back" %>
  <%= link_to 'Delete', delete_message_path(@message.id), class: "btn btn-info btn-back" %>
</div>