<%= stylesheet_link_tag "index_user" %>

<div class="col-lg-3">
  <%= render partial: "shared/sidemenu" %>
</div>

<div class="col-lg-9">
  <label style="margin-left: 40px !important;"><font size=6 color="#00bfee">People</font></label>
  <% @users.each do |user| %>
      <div class="row row-margin my-row">
        <div class="col-lg-3 profile-userpic-users">
          <img src=<%= user.profilepic %> >
        </div>
        <div class="col-lg-7">
          <div class="profile-usertitle-name-users">
            <%= user.name %> <%= user.surname %>
          </div>
          <div class="col-lg-4">
            <%= link_to 'Show', user, class: 'btn btn-info my-btn'  %>
          </div>
          <div class="col-lg-4">
            <%= link_to 'Follow', friend_path(user.id), class: 'btn btn-info my-btn'  %>
          </div>
        </div>
      </div>
  <% end %>
</div>
